* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
	width: 100%;
	position: fixed;
	padding: 13px 13px;
	top: 0;
	background-color: aquamarine;
	display: flex;
    align-items: center;
	justify-content: space-between;
}
.identity {
    display: flex;
    align-items: center;
    gap: 13px;
}
.identity h1 {
    color: white;
}
.identity img {
    width: 50px;
    height: 50px;
}
.linkHolder {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.linkHolder li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}
.linkHolder li a img {
    width: 30px;
    height: 30px;
}
.search input, .search button {
    width: auto;
    padding: 10px 14px;
}
.search input {
    border-radius: 5px;
}